// Neutrals
$white: #FFFFFF;
$light-grey: #E8EAEB;
$dark-grey: #444444;
$black: #000000;

// %bg-dark {
// 	color: $white;
//
// 	* {
// 		color: $white;
// 	}
//
// 	a:hover, a:focus {
// 		color: $medium-blue;
// 	}
// }
//
// .bg-black {
// 	@extend %bg-dark;
// 	background-color: $black;
// }
//
// .bg-blue {
// 	@extend %bg-dark;
// 	background-color: $blue;
// }

.bg-light-grey {
    background-color: $light-grey;
}

.text-light-grey {
	color: $light-grey;
}

.text-dark-grey {
	color: $dark-grey;
}