// Font Families
$avenir-next: 'Avenir Next', Arial, sans-serif;
$ubuntu: 'Ubuntu', Arial, sans-serif;

// Font Sizes
// Default
$default-font: 300 18px/1.5 $avenir-next;
$default-md-size: 16px;

// Elements
$h1-font: bold 48px/1.1 $ubuntu;
$h2-font: bold 36px/1.1 $ubuntu;
$h3-font: bold 28px/1.1 $ubuntu;
$h4-font: 600 1.44em/1.1 $avenir-next;
$h5-font: 600 1.2em/1.5 $avenir-next;
$h6-font: 600 1.1em/1.5 $avenir-next;
$p-font: 300 1em/1.5 $avenir-next;
$lead-font: 18/1.1 $avenir-next;
$small-size: 0.833em;