@import "fonts/avenir-next";
@import "fonts/ubuntu";

// Font Families
$avenir-next: 'Avenir Next', Arial, sans-serif;
$ubuntu: 'Ubuntu', Arial, sans-serif;

// Font Sizes
// Default
$default-font: normal 14px/1.5 $avenir-next;

// Elements
$h1-font: bold 28.16px/1.5 $ubuntu;
$h2-font: bold 24.49px/1.5 $ubuntu;
$h3-font: bold 21.29px/1.5 $ubuntu;
$h4-font: bold 18.51px/1.5 $ubuntu;
$h5-font: bold 16.10px/1.5 $ubuntu;
$h6-font: bold 14px/1.5 $ubuntu;
$p-font: normal 14px/1.5 $avenir-next;
$lead-font: 18.51px/1.5 $avenir-next;
$small-size: 12.17px;