h1, h2, h3, h4, h5, h6, p, ul, ol, li, a, button {
	margin: 0;
	padding: 0;
	color: $dark-grey;
}

h1 {
	font: $h1-font;
}

h2 {
	font: $h2-font;
}

h3 {
	font: $h3-font;
}

h4 {
	font: $h4-font;
}

h5 {
	font: $h5-font;
}

h6 {
	font: $h6-font;
}

a {
    text-decoration: none;
}