*, button {
	&, &:focus, &:active {
		outline: none;
	}
}

html, body {
	font: $default-font;
	line-height: 1.5;
	color: $dark-grey;
	scroll-behavior: smooth;
}

.hidden {
	display: none;
}

body .display {
	display: block;
}