{% load static %}

<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-touch-icon.png' %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png' %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon/favicon-16x16.png' %}">
	<link rel="manifest" href="{% static 'images/favicon/site.webmanifest' %}">
	<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'semantic-ui/semantic.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'semantic-ui-calendar/calendar.min.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'semantic-ui/semantic.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'semantic-ui-calendar/calendar.min.css' %}">
	<title>{% block title %}Days Since{% endblock %}</title>
</head>
<body>
	{% block content %}
		<div class="ui container">
			<div class="ui hidden divider"></div>
			<h1>Days Since</h1>
			<h2>Activities</h2>
			<table class="ui definition fixed table">
				<thead>
					<tr>
						<th></th>
						<th>Frequency</th>
						<th>Days Since</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for activity in activities %}
						<tr>
							<td>{{activity.title}}</td>
							<td>{{activity.frequency_display}}</td>
							<td>{{activity.days_since}}</td>
							<td>
								<a class="ui button green" href="{% url 'days_since:complete-activity' activity=activity.pk %}">Complete</a>
								<a class="ui button orange" href="{% url 'days_since:skip-activity' activity=activity.pk %}">Skip</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	{% endblock %}
</body>
</html>
