{% extends 'web/base.html' %}
{% load semanticui %}

{% block title %}{% if object %}Update{% else %}Create{% endif %} {{model_name}}{% endblock %}

{% block content %}
<div class="ui container">
	<div class="ui hidden divider"></div>
	<h2>{% if object %}Update{% else %}Create{% endif %} {{model_name}}</h2>
	<form class="ui form" method="post">
		{% csrf_token %}
		{% if form.non_field_errors %}
			<div class="ui segment red">
				{% for err in form.non_field_errors %}
					<p class="form-error">{{err}}</p>
				{% endfor %}
			</div>
		{% endif %}
		{% render_form form %}
		<button class="ui button" type="submit">Submit</button>
	</form>
</div>
<script>
	function datetimeParser(datetime, format) {
        if (datetime === undefined || !moment(datetime).isValid())
            return datetime;
        else
            return moment(datetime).format(format);
    }

	$('.ui .dropdown').dropdown();
	$('.ui.date.calendar').calendar({
        type: "date",
        formatter: {
            datetime: date => datetimeParser(date, "DD/MM/YY")
        }
    });
</script>
{% endblock %}