{% extends 'web/base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.min.css' %}">
{% endblock%}

{% block title %}Days Since{% endblock %}

{% block content %}
<div class="container">
	<div class="mb-20">
		<h1 class="mb-10">Days Since</h1>
		<div>
			<a href="{% url 'web:home' %}" class="btn">
				<i class="ui chevron left icon"></i>
				Back to Main Menu
			</a>
		</div>
	</div>
	<div class="mb-20">
		<h2 class="mb-10">Activities</h2>
		<div>
			<a href="{% url 'days_since:create-activity'%}" class="ui blue btn">
				<i class="ui plus icon"></i>
				Create Activity
			</a>
		</div>
	</div>
	<div class="grid activities">
		{% for activity in activities %}
			<a class="activity-box" href="{% url 'days_since:activity-detail' pk=activity.pk %}">
				{% if activity.days_left >= 0 %}
					<div class="progress-circle">
						<canvas class="outer-circle" width="120" height="120" data-percentage="{{activity.days_since_percentage}}" data-color="{{activity.color.hex_code}}"></canvas>
						<div class="inner-circle">
							<p>{{activity.days_left}} days left</p>
						</div>
					</div>
				{% else %}
					<div class="progress-circle overdue" style="background-color: {{activity.color.hex_code}};">
						<div class="outer-circle"></div>
						<div class="inner-circle">
							<p>{{activity.days_left}} days left</p>
						</div>
					</div>
				{% endif %}
				<div>
					<div class="mb-20">
						<h3>{{activity.title}}</h3>
						<p>{{activity.frequency_display}} • Last done {{activity.days_since}} days ago</p>
					</div>
					{% if activity.todays_event %}
						{{activity.todays_event.get_event_type_display}}
					{% else %}
						<form style="display: inline;" method="post" action="{% url 'days_since:complete-activity' pk=activity.pk %}"><!--
							-->{% csrf_token %}<!--
							--><button class="btn btn-dark-grey mr-10">Complete</button><!--
						--></form><!--
						--><form style="display: inline;" method="post" action="{% url 'days_since:skip-activity' pk=activity.pk %}"><!--
							-->{% csrf_token %}<!--
							--><button class="btn btn-white">Skip</button><!--
						--></form>
					{% endif %}
				</div>
			</a>
		{% empty %}
			<p>No activities found.</p>
		{% endfor %}
	</div>
</div>
<script>
	$('.progress-circle:not(.overdue) .outer-circle').each(function (i, el) {
		var width = el.width;
		var height = el.height;
		var percentage = $(el).data('percentage');
		var color = $(el).data('color');

		var ctx = el.getContext('2d');

		var cx = width / 2;
		var cy = height / 2;

		ctx.fillStyle = color;
		ctx.beginPath();
		ctx.moveTo(cx,cy);
		ctx.arc(cx, cy, width / 2, -Math.PI / 2, -Math.PI / 2 + percentage * 2 * Math.PI);
		ctx.lineTo(cx, cy);
		ctx.closePath();
		ctx.fill();
	})
</script>
{% endblock %}
