.btn {
    border-radius: 10px;
    border: none;
    background-color: $light-grey;
    font: $default-font;
    padding: 10px 20px;
    color: $dark-grey;
    display: inline-block;
    font-weight: bold;
    cursor: pointer;
    -webkit-transition: ease-in-out all .3s;
    transition: ease-in-out all .3s;

    &:hover, &:focus {
        opacity: 0.6;
    }

    &.btn-white {
        background-color: $white;
    }

    &.btn-dark-grey {
        color: $white;
        background-color: $dark-grey;
    }
}
