{% extends 'web/base.html' %}
{% load semanticui %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="ui container">
	<div class="ui hidden divider"></div>
	<a href="{% url 'web:home' %}" class="ui button">
		<i class="ui chevron left icon"></i>
		Back to Home
	</a>
	<h1>Profile</h1>
	<div class="ui segment">
		<form class="ui form" method="post">
			{% csrf_token %}
			{% if form.non_field_errors %}
				<div class="ui segment red">
					{% for err in form.non_field_errors %}
						<p class="form-error">{{err}}</p>
					{% endfor %}
				</div>
			{% endif %}
			{% render_form form %}
			<button class="ui button" type="submit">Save</button>
		</form>
	</div>
</div>
<script>
	$('.ui .dropdown').dropdown();
</script>
{% endblock %}